<md-toolbar md-theme="deep-orange" layout-align="center center" ng-controller="ToolbarController as toolbarC">
    <div class="md-toolbar-tools" tabindex="-1" role="button" ng-click="toolbarC.openSideMenu()">
        <button title="toggleMenuButton" class="md-icon-button md-button" aria-label="Toggle Menu" hide-gt-sm role="tab">
            <md-icon class="hamburger" md-svg-src="images/icons/ic_menu_48px.svg" aria-hidden="true"></md-icon>
        </button>
        <div class="fill-height" layout="row" flex>
            Nittedal Banquet Racers
        </div>
    </div>
</md-toolbar>