<md-toast>
    <div flex layout="row">
        <div layout="column" style="margin-right: 20px">
            <div class="md-tile-left shrinkableText" layout layout-align="center start">
                {{getFormattedDate(firstMessage.publish_date)}}
            </div>
            <div layout="column" class="shrinkableText" layout-align="center start">
                by: {{firstMessage.author}}
            </div>
        </div>
        <div flex layout="column" class="shrinkableTextBoldItalic" layout-align="center center">
            {{firstMessage.content}}
        </div>
        <md-button ng-click="closeToast()">
            Lukk
        </md-button>
    </div>
</md-toast>
