<md-toast>
    <div flex layout="row" layout-align="space-between center">
        <div layout="column" style="margin-right: 30px" layout-align="start start">
            <div class="shrinkableText" layout layout-align="center start">{{getFormattedDate(firstMessage.publish_date)}}</div>
            <div layout="column" class="shrinkableText" layout-align="center start">av: {{firstMessage.author}}</div>
        </div>
        <div flex class="newsShrinkableTextBoldItalic" >
            {{firstMessage.content}}
        </div>
        <md-button ng-click="closeToast()" style="margin-left: 10px">
            Lukk
        </md-button>
    </div>
</md-toast>
