footer {
    height: 100px;
    background-color: #333333;
    color: #FFFFFF;
}

.headerButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.menuButton {
    border-radius: 0 !important;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.menuButton.selected {
    background-color: #FF5722 !important;
    color: #333333;
}

.sectionHeader {
    margin: 10px;
    color: #FFFFFF;
}

.trophyGold {
    color: #FF5722;
}

.trophySilver {
    color: #9E9E9E;
}

.trophyBronze {
    color: #4E342E;
}

.trophyNull {
    display: none;
}

.leaderboardHeader {
    color: #FFFFFF;
    /*border: 1px solid #FF5722;*/
    height: 3em;
}

.leaderboardList {
    border: 1px solid #FF5722;
}

.competitionCompleted {
    text-decoration: line-through;
    color: #999999;
}

.listMain {
    margin: 40px;
}

md-tabs.md-grey-theme md-tabs-ink-bar {
    background: #FF5722 !important;
}

md-tabs.md-grey-theme md-tab.active {
    background-color: #777777 !important;
}

.racerItem {
    cursor: pointer;
}

.racerItemSelect {
    background-color: #FF5722 !important;
    color: #FFFFFF;
}

.racerItem:hover {
    background-color: #484848 !important;
}

.competitionItem {
    cursor: pointer;
}

.competitionItemSelect{
    background-color: #FF5722 !important;
    color: #333333 !important;
}

.competitionItem:hover {
    background-color: #484848 !important;
}



.infoBB {
    width: 200px;
}

md-content.md-default-theme {
    background-color: transparent;
}

.shrinkableText {
    font-size: 1em;
}

.shrinkableTextBold {
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .shrinkableText {
        font-size: 0.7em;
    }


    .listMain {
        margin: 10px;
    }
}