<md-whiteframe class="md-whiteframe-z1">
    <div class="sectionHeader">Multihero</div>
    <md-tabs selected="selectedIndex" md-theme="grey">
        <md-tab ng-repeat="tab in allseasons" md-on-select="announceSelected($index)" ng-disabled="tab.disabled" label="{{tab.label}}"></md-tab>
    </md-tabs>
</md-whiteframe>
<md-content flex md-scroll-y class="md-padding" >
    <div layout="column">
        <md-list class="listMain">
            <md-item ng-repeat="racer in racers" ng-class="getRacerStyle(racer)" layout="column" layout-align="center" layout-padding style="border-bottom: 1px solid #c0c0c0; padding-top: 20px"  ng-click="changeSelected(racer)">
                <div layout="row" layout-align="center" style="margin: 15px">
                    <div flex=10 class="md-tile-left shrinkableTextBold" layout="column" layout-align="center start">
                        {{$index+1}}
                    </div>
                    <div flex=10 class="md-tile-left" layout="column" layout-align="center start">
                        <div hide-phone hide-tablet>
                            <i class="fa fa-2x fa-trophy" ng-class="getTrophyColor($index+1)"></i>
                        </div>
                        <div hide show-phone show-tablet>
                            <i class="fa fa-trophy" ng-class="getTrophyColor($index+1)"></i>
                        </div>
                    </div>
                    <div flex layout="column" class="shrinkableTextBold" layout-align="end start">
                        {{racer.name}}
                    </div>
                    <div flex=30 layout="column" class="shrinkableTextBold" layout-align="end end">
                        {{racer.total}} pts
                    </div>
                </div>
                <div ng-show="racer.selected" style="background-color: #BBBBBB; min-height: 200px;">
                    <md-list>
                        <md-item ng-repeat="result in selectedUserResults" layout="row" layout-align="center" layout-margin style="color: #333333;">

                            <div flex hide-gt-sm layout="row">
                                <div flex layout="column">
                                    <div flex layout="column" layout-align="center start" class="shrinkableText">
                                        {{result.competition.racetype.label}}
                                    </div>
                                    <div flex layout="column" layout-align="centers start" class="shrinkableText">
                                        {{getFormattedDate(result.competition.competition_date)}}
                                    </div>
                                </div>
                                <div flex layout="column">
                                    <div flex layout="column" layout-align="center end" class="shrinkableText">
                                        {{getFormattedTime(result.time)}}
                                    </div>
                                    <div flex layout="column" layout-align="center end" class="shrinkableText">
                                        {{result.point}} pts
                                    </div>
                                </div>
                            </div>
                            <div flex hide-sm layout="row">
                                <div flex layout="column" layout-align="center start" class="shrinkableText">
                                    {{getFormattedDate(result.competition.competition_date)}}
                                </div>
                                <div flex layout="column" layout-align="centers start" class="shrinkableText">
                                    {{result.competition.racetype.label}}
                                </div>
                                <div flex layout="column" layout-align="center end" class="shrinkableText">
                                    {{getFormattedTime(result.time)}}
                                </div>
                                <div flex layout="column" layout-align="center end" class="shrinkableText">
                                    {{result.point}} pts
                                </div>
                            </div>
                        </md-item>
                    </md-list>
                </div>
            </md-item>
        </md-list>
    </div>
</md-content>


