<md-whiteframe class="md-whiteframe-z1">
    <div class="sectionHeader">Multiheroes</div>
    <md-tabs selected="selectedHeroIndex" md-theme="grey">
        <md-tab ng-repeat="tab in allseasons" md-on-select="announceSelected($index)" ng-disabled="tab.disabled" label="{{tab.label}}"></md-tab>
    </md-tabs>
</md-whiteframe>
<md-content flex md-scroll-y class="md-padding" >
    <div style="width: 100%; height: 300px" layout layout-align="center center" ng-show="racers.length == 0">
        <md-progress-circular md-theme="deep-orange" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column">
        <md-list class="listMain">
            <md-item ng-repeat="racer in racers" ng-class="getRacerStyle(racer)" layout="column" layout-align="center" layout-padding ng-click="changeSelected(racer)">
                <div layout="row" layout-align="center" style="margin: 15px">

                    <div flex=10 class="md-tile-left shrinkableTextBold" layout="row" layout-align="start center" style="cursor: pointer">
                        <svg width="24" height="24" viewBox="0 0 24 24" ng-show="racer.racer.rank < racer.racer.lastrank"><path style="fill: #00FF00" d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/></svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" ng-show="racer.racer.rank == racer.racer.lastrank"><path style="fill: #c0c0c0" d="M22 12l-4-4v3H3v2h15v3z"/></svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" ng-show="racer.racer.rank > racer.racer.lastrank"><path style="fill: #FF0000" d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6z"/></svg>
                        &nbsp;{{$index+1}}
                        <md-tooltip>Forrige plassering: {{racer.racer.lastrank}}</md-tooltip>
                    </div>

                    <div flex=10 class="md-tile-left" layout="column" layout-align="center start">
                        <div hide-phone hide-tablet>
                            <i class="fa fa-2x fa-trophy" ng-class="getTrophyColor($index+1)"></i>
                        </div>
                        <div hide show-phone show-tablet>
                            <i class="fa fa-trophy" ng-class="getTrophyColor($index+1)"></i>
                        </div>
                    </div>
                    <div flex layout="row" class="shrinkableTextBold" layout-align="start center">
                        <div flex>{{racer.racer.name}}</div>
                        <div><span style="color: #c0c0c0 !important;"> (<img class="competitionCheck" src="../img/ic_check_black_18dp.png"> {{ racer.results.length +' av '+ nbrCompetitionsOver}})</span></div>
                    </div>
                    <div flex=20 layout="column" class="shrinkableTextBold" layout-align="center end">
                        {{racer.racer.total}} pts
                    </div>
                </div>
                <div ng-show="racer.selected" class="selectedRow">
                    <md-list>
                        <md-item ng-repeat="result in selectedUserResults" layout="row" layout-align="center" layout-margin style="color: #333333;">

                            <div flex hide-gt-sm layout="row">
                                <div flex layout="column">
                                    <div flex layout="column" layout-align="center start" class="shrinkableText">
                                        {{result.competition.racetype.header_no}}
                                    </div>
                                    <div flex layout="column" layout-align="centers start" class="shrinkableText">
                                        {{getFormattedDate(result.competition.competition_date)}}
                                    </div>
                                </div>
                                <div flex layout="column">
                                    <div flex layout="column" layout-align="center end" class="shrinkableText">
                                        {{result.point}} pts
                                    </div>
                                    <div flex layout="column" layout-align="center end" class="shrinkableText">
                                        {{getFormattedTime(result.time)}} ({{result.rank}}/{{result.ranked}})
                                    </div>
                                </div>
                            </div>
                            <div flex hide-sm layout="row">
                                <div flex layout="column" layout-align="center start" class="shrinkableText">
                                    {{getFormattedDate(result.competition.competition_date)}}
                                </div>
                                <div flex layout="column" layout-align="centers start" class="shrinkableText">
                                    {{result.competition.racetype.header_no}}
                                </div>
                                <div flex layout="column" layout-align="center end" class="shrinkableText">
                                    {{getFormattedTime(result.time)}}
                                </div>
                                <div flex layout="column" layout-align="center end" class="shrinkableText">
                                    {{result.rank}}/{{result.ranked}}
                                </div>
                                <div flex layout="column" layout-align="center end" class="shrinkableText">
                                    {{result.point}} pts
                                </div>
                            </div>
                        </md-item>
                    </md-list>
                </div>
            </md-item>
        </md-list>
    </div>
</md-content>


