<div flex layout="vertical">
    <md-whiteframe class="md-whiteframe-z1">
        <div class="sectionHeader">Main</div>
    </md-whiteframe>
    <div style="overflow: auto" flex>
        <section layout="vertical">
            <md-list class="listMain">
                <md-whiteframe class="md-whiteframe-z1 leaderboardHeader" layout layout-align="center center">
                    Leaderboard
                </md-whiteframe>
                <md-item ng-repeat="racer in racers" layout="horizontal" layout-align="center" layout-padding style="border-bottom: 1px solid #c0c0c0">
                    <div flex=10 class="md-tile-left" layout="vertical" layout-align="center start">
                        <h3>{{racer.position}}</h3>
                    </div>
                    <div flex=10 class="md-tile-left" layout="vertical" layout-align="center start">
                        <i class="fa fa-2x fa-trophy" ng-class="getTrophyColor(racer)"></i>
                    </div>
                    <div flex layout="vertical" layout-align="end start">
                        <h3>{{racer.name}}</h3>
                    </div>
                    <div flex=30 layout="vertical" layout-align="end end">
                        <h3>{{racer.points}} pts</h3>
                    </div>
                </md-item>
            </md-list>
        </section>
        <section layout="vertical" flex>
            <md-list class="listMain">
                <md-whiteframe class="md-whiteframe-z1 leaderboardHeader" layout layout-align="center center">
                    Calendar
                </md-whiteframe>
                <md-item ng-repeat="competition in competitions" layout="horizontal" layout-align="center" layout-padding style="border-bottom: 1px solid #c0c0c0" ng-class="getCompetitionStatus(competition.competition_date)">
                    <div flex=30 class="md-tile-left" layout="vertical" layout-align="center start">
                        <h4>{{getFormattedDate(competition.competition_date)}}</h4>
                    </div>
                    <div flex="30" layout="vertical" layout-align="center start">
                        <h4>{{competition.racetype.label}}</h4>
                    </div>
                    <div flex layout="vertical" layout-align="center start" style="text-align: justify">
                        <h4>{{competition.description}}</h4>
                    </div>
                </md-item>
            </md-list>
        </section>
    </div>
    <footer>
        <div layout="horizontal" layout-align="center center" layout-fill>
            <div>footer ... {{ footerText }}</div>
        </div>
    </footer>
</div>
