<md-whiteframe class="md-whiteframe-z1">
    <div class="sectionHeader">Send melding</div>
</md-whiteframe>
<md-content flex md-scroll-y class="md-padding">
    <div layout="column" style="max-width: 400px">
        <md-text-float label="Author" ng-model="author" md-theme="deep-orange"></md-text-float>
        <md-text-float type="date" ng-model="publishdate" md-theme="deep-orange"></md-text-float>
        <textarea style="width: 100%; min-height: 200px" ng-model="content"></textarea>
        <md-button class="menuButton" md-theme="deep-orange" ng-click="postMessage()">Send</md-button>
    </div>
</md-content>
