<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="NbrApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="NbrApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="NbrApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="NbrApp" class="no-js"> <!--<![endif]-->

<head>
    <base href="/">
    <title>NbrApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Jeremy Toussaint" />
    <meta name="author" content="Dominique Bye-Ribaut" />

    <link rel="shortcut icon" href="img/nbr_skieur.ico">
    <link rel="icon" type="image/png" href="/img/icon114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icon144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icon114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icon72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/icon57x57.png">
    <meta charset="UTF-8">

    <!-- Styles -->
    <link rel="stylesheet" href="/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Framework libraries -->
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/moment/moment.js"></script>
</head>

<body layout="row">

    <!-- Side-bar menu -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')">
        <!-- Side-bar header -->
        <md-toolbar md-theme="deep-orange" layout-align="center center">
            <div layout="row" layout-fill layout-align="center center">
                <div flex class="headerPadding">Meny</div>
            </div>
        </md-toolbar>

        <!-- Side-bar content -->
        <md-content class="md-padding nrbDark" layout="column" flex>
            <!-- Side-bar content button list -->
            <md-button ng-repeat="b in menuButtonObject" class="menuButton" ng-class="{selected: menuSelectedIndex==$index}" ng-click="focusSection()" ng-href="{{b.target}}" ng-disabled="b.disabled">{{ b.label }}</md-button>
            <div flex layout="column" layout-align="end center">
                <div style="width: 70%">
                    <img src="images/nbr.png" width="100%" class="logo">
                </div>
            </div>
        </md-content>
    </md-sidenav>

    <!-- Page Content -->
    <div layout="column" layout-fill class="nbrLighter">
        <!-- Page Content header -->
        <md-toolbar md-theme="deep-orange" layout-align="center center">
            <div class="md-toolbar-tools" tabindex="-1" role="button" ng-click="openMenu()">
                <button title="toggleMenuButton" class="md-icon-button md-button" aria-label="Toggle Menu" hide-gt-sm role="tab">
                    <md-icon class="hamburger" md-svg-src="img/icons/ic_menu_48px.svg" aria-hidden="true"></md-icon>
                </button>
                <div class="fill-height" layout="row" flex>
                    Nittedal Banquet Racers
                </div>
            </div>
        </md-toolbar>

        <!-- Page Content body -->
        <md-content ng-view layout="column" flex></md-content>
    </div>
</body>

<!-- Application files  -->
<script type="text/javascript" src="js/models/models.js"></script>
<script type="text/javascript" src="js/services/utilityservice.js"></script>
<script type="text/javascript" src="js/services/urlservice.js"></script>
<script type="text/javascript" src="js/services/dataservice.js"></script>
<script type="text/javascript" src="js/app.config.js"></script>
<script type="text/javascript" src="js/app.run.js"></script>
<script type="text/javascript" src="js/components/landing/landing.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>
